
@font-face{
    font-family: rbold;
    src:url('../../../../public/font/Roboto-Bold.ttf')
  }
  @font-face{
    font-family: rregular;
    src:url('../../../../public/font/Roboto-Regular.ttf')
  }
  @font-face{
    font-family: rmedium;
    src:url('../../../../public/font/Roboto-Medium.ttf')
  }
  .sub1-actions-div3 {
    width: 158.9rem;
    height: 60.3rem;
    border: 0.1rem solid #dfe0eb;
    border-radius: 2rem;
    background-color: #F3F4F7;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    padding-top: 1rem;
  overflow: auto;
  }
  /* .subsub1-sub1-actions-div3{
    background-color: #28a745;
  } */
  /* ////////////////////////////// */
  /* left 1 */
  
 


  /* ////////////////////////////////// */
  
  .actions-switch {
    position: relative;
    display: inline-block;
    width: 2.5rem;
    height: 1.1rem;
  }
  .actions-switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .actions-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(166, 180, 200, 25%);
    transition: 0.4s;
    border-radius: 5rem;
  }
  .actions-slider:before {
    position: absolute;
    content: "";
    border: .1rem solid #EEF0F5;
    height: 1.6rem;
    width: 1.6rem;
    left: -0.1rem;
    bottom: -0.3rem;
    background-color: #FAFBFB;
    transition: 0.4s;
    border-radius: 5rem;
  }
  input:checked + .actions-slider {
    background-color: #FD2A22;
    border-radius: 5rem;
    box-shadow: 0rem 0rem 1rem #FD2A22;
  }
  
  input:checked + .actions-slider::before {
    transform: translateX(1.5rem);
  }
  /* //////////////////////////////////// */
  
  /* ////////////////////////////// */
  /* left 2 */
  .sub2-subsub1-sub1-actions-div3 {
    width: 50rem;
    height: 39.7rem auto;
    margin-bottom: 2rem;
  
  }
  .subsub1-sub2-subsub1-sub1-actions-div3 {
    /* background-color: rgb(74, 198, 188); */
    width: 50rem;
    height: 6.7rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: white;
    line-height: 1rem;
    /* cursor: pointer; */
  }
  .subsub1-sub2-subsub1-sub1-actions-div3 p {
    /* background-color: #28a745; */
    width: 30rem;
    height: 1.3rem;
    font-size: 1.2rem;
    font-weight: 600;
    margin-left: 0.5rem;
    padding-top: 0.2rem;
    font-weight: 600;
  }
  .sub1-subsub1-sub2-subsub1-sub1-actions-div3 {
    /* background-color: rgb(17, 205, 192); */
    width: 50rem;
    height: 3.2rem;
    display: flex;
    position: relative;
    justify-content: space-between;
    font-family: rregular;
  }
  .sub1-subsub1-sub2-subsub1-sub1-actions-div3 span {
    /* background-color: rgb(117, 205, 17); */
    width: 35rem;
    height: 4.5rem;
    font-size: 1.2rem;
    display: flex;
    margin-top: -0.5rem;
    margin-left: 0.5rem;
    line-height: 1.5rem;
    text-align: justify;
    font-family: rregular;
  }
  .subsub1-sub1-subsub1-sub2-subsub1-sub1-actions-div3 {
    width: 4rem;
    height: 2.5rem;
    /* background-color: rgb(17, 167, 205); */
    margin-right: 1rem;
    position: absolute;
    bottom: 2.4rem;
    right: 1rem;
    display: flex;
    justify-content: right;
    align-items: center;
  }
  .subsub1-sub1-subsub1-sub2-subsub1-sub1-actions-div3 :nth-child(1) {
    width: 2rem;
    height: 2rem;
  }
  .subsub1-sub1-subsub1-sub2-subsub1-sub1-actions-div3 :nth-child(2) {
    width: 2rem;
    height: 2rem;
    /* margin-left: 1rem; */
  }
  
  .subsub1-sub1-subsub1-sub2-subsub1-sub1-actions-div3 :nth-child(3) {
    width: 2rem;
    height: 1.1rem;
  }
  .sub2-subsub1-sub2-subsub1-sub1-actions-div3 {
    width: 50rem;
    height: 1.2rem;
    background-color: #D01400;
    display: flex;
    justify-content: left;
    /* align-items:end; */
  }
  .sub2-subsub1-sub2-subsub1-sub1-actions-div3 span {
    width: 14rem;
    font-size: 1.2rem;
    padding-left: 1.8rem;
    color: white;
    font-family: rregular;
    padding-top: .1rem;
  }
  .subsub2-sub2-subsub1-sub1-actions-div3 {
    background-color: white;
    width: 50rem;
    height: 34.7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }
  .sub1-subsub2-sub2-subsub1-sub1-actions-div3 {
    /* width: 80%; */
    /* background-color: pink; */
    /* padding-top: 1rem; */
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .subsub1-sub1-subsub2-sub2-subsub1-sub1-actions-div3{
    width: 29.1rem;
    height: 3.3rem;
    border:.1rem solid #FF0000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border-radius: .5rem;
    margin-top: 1rem;
  }
  .sub1-subsub1-sub1-subsub2-sub2-subsub1-sub1-actions-div3{
    line-height: 1rem;
    position: absolute;
    /* background-color: #28a745; */
  top:.1rem;
  left: 1rem;
  }
  .sub1-subsub1-sub1-subsub2-sub2-subsub1-sub1-actions-div3 :nth-child(1){
    color: #898A8D;
    font-size: 1.2rem;
    font-family: rregular;
    padding-top: .3rem;
  }
  .sub1-subsub1-sub1-subsub2-sub2-subsub1-sub1-actions-div3 :nth-child(2){
    font-size: 1.2rem;
    font-family: rregular;
  }
  .subsub1-sub1-subsub2-sub2-subsub1-sub1-actions-div3 :nth-child(2){
    width:100%;
    height: 90%;
    border: 0rem;
    background-color: rgb(255, 255, 255, 0%);
    font-size: 1.2rem;
    font-family: rregular;
  outline: none;
  }


  .subsub2-sub1-subsub2-sub2-subsub1-sub1-actions-div3{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: .5rem;
  /* background-color: #28a745; */
  width: 9rem;
  }
  .subsub2-sub1-subsub2-sub2-subsub1-sub1-actions-div3 :nth-child(1){
    color: #7A7D8B;
    font-family: rregular;
font-size: 1.2rem;
padding-top: .5rem;
  }
  .subsub2-sub1-subsub2-sub2-subsub1-sub1-actions-div3 :nth-child(3){
    color: #7A7D8B;
    font-family: rregular;
    font-size: 1.2rem;
    padding-top: .5rem;

  }



.subsub3-sub1-subsub2-sub2-subsub1-sub1-actions-div3{
    width: 36rem;
display: flex;
/* background-color: #28a745; */
margin-left: 7rem;
display: flex;
justify-content: center;
align-items: center;
}
  .sub1-subsub3-sub1-subsub2-sub2-subsub1-sub1-actions-div3{
    width: 29.1rem;
    height: 3.3rem;
    border:.1rem solid #005EEC;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border-radius: .5rem;
    margin-top: .5rem;
    margin-right: 5rem;
  }
  .subsub1-sub1-subsub3-sub1-subsub2-sub2-subsub1-sub1-actions-div3{
    line-height: 1rem;
    position: absolute;
    /* background-color: #28a745; */
  top:.1rem;
  left: 1rem;
  }
  .subsub1-sub1-subsub3-sub1-subsub2-sub2-subsub1-sub1-actions-div3 :nth-child(1){
    color: #898A8D;
    font-size: 1.2rem;
    font-family: rregular;
    padding-top: .3rem;
  }
  .subsub1-sub1-subsub3-sub1-subsub2-sub2-subsub1-sub1-actions-div3 :nth-child(2){
    font-size: 2rem;
    font-family: rregular;
    /* background-color: aqua; */
  
  }
  .sub1-subsub3-sub1-subsub2-sub2-subsub1-sub1-actions-div3 :nth-child(2){
    width:100%;
    height: 90%;
    border: 0rem;
    background-color: rgb(255, 255, 255, 0%);
    font-size: 1.2rem;
    font-family: rregular;
  outline: none;
  }


  .subsub4-sub1-subsub2-sub2-subsub1-sub1-actions-div3{
        display:flex;
        width:36rem;
        margin-left:7rem;
        margin-top: .5rem;
        justify-content:space-between;
  }




.sub1-subsub4-sub1-subsub2-sub2-subsub1-sub1-actions-div3{
        width: 29.1rem;
    height: 3.3rem;
    border: .1rem solid #898A8D;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    line-height: 1.3rem;
    position: relative;
    /* margin-bottom: .5rem; */
    }
    .sub1-subsub4-sub1-subsub2-sub2-subsub1-sub1-actions-div3 :nth-child(1){
    width: 100%;
    height: 30%;
    font-size: 1.2rem;
    padding-left: 1rem;
    color: #898A8D;
    font-family: rregular;
    padding-top: .3rem;
    }
    .sub1-subsub4-sub1-subsub2-sub2-subsub1-sub1-actions-div3 :nth-child(2){
    width: 85%;
    height: 70%;
    border: 0;
    outline: none;
    font-size: 1.2rem;
    padding-left: 1rem;
    font-family: rregular;
    border-radius: .5rem;
    background-color: rgb(255, 255, 255, 0%);
    }
    

.subsub5-sub1-subsub2-sub2-subsub1-sub1-actions-div3{
    /* background-color: #28a745; */
    width: 35rem;
    display: flex;
    justify-content: space-between;
    margin-left: 8rem;
}
    .sub1-subsub5-sub1-subsub2-sub2-subsub1-sub1-actions-div3{
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* margin-top: .5rem; */
        /* background-color: #28a745; */
        width: 9rem;
        }
        /* .sub1-subsub5-sub1-subsub2-sub2-subsub1-sub1-actions-div3 :nth-child(1){
         background-color: aqua;
        } */
        .sub1-subsub5-sub1-subsub2-sub2-subsub1-sub1-actions-div3 :nth-child(2){
            /* background-color: rgb(55, 0, 255); */
            font-size: 1.2rem;
color: #7A7D8B;
    font-family: rregular;
    padding-top: .3rem;
            
           }

.subsub6-sub1-subsub2-sub2-subsub1-sub1-actions-div3{
    display: flex;

}
           
  .sub1-subsub6-sub1-subsub2-sub2-subsub1-sub1-actions-div3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: .5rem;
    /* background-color: #28a745; */
    /* width: rem; */
    margin-right: 7.6rem;
    margin-left: 9rem;
    }
    .sub1-subsub6-sub1-subsub2-sub2-subsub1-sub1-actions-div3 :nth-child(1){
      color: #7A7D8B;
      font-family: rregular;
  font-size: 1.2rem;
  padding-top: .5rem;
  width: 20rem;
    /* background-color: #28a745; */

    }
    .sub1-subsub6-sub1-subsub2-sub2-subsub1-sub1-actions-div3 :nth-child(3){
      color: #7A7D8B;
      font-family: rregular;
      font-size: 1.2rem;
      padding-top: .5rem;
  margin-left: .5rem;
    }
  
/* .subsub6-sub1-subsub2-sub2-subsub1-sub1-actions-div3 :nth-child(2){
margin-left: 3rem;
} */



  /* //////////////////////////////////// */
  /* ///////////////////////////// */
  
  /* ////////////////////////////// */
  /* left 3 */
  .sub3-subsub1-sub1-actions-div3 {
    width: 50rem;
    height: 34.4rem auto;
  }
  .subsub1-sub3-subsub1-sub1-actions-div3 {
     /* background-color: rgb(74, 198, 188); */
     width: 50rem;
     height: 6.7rem;
     border-top-left-radius: 1rem;
     border-top-right-radius: 1rem;
     border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
     background-color: white;
     line-height: 1rem;
     /* cursor: pointer; */
  }
  .subsub1-sub3-subsub1-sub1-actions-div3 p {
    width: 30rem;
    height: 1.3rem;
    font-size: 1.2rem;
    font-weight: 600;
    margin-left: 0.5rem;
    padding-top: .2rem;
    font-weight: 600;
  }
  .sub1-subsub1-sub3-subsub1-sub1-actions-div3 {
 /* background-color: rgb(17, 205, 192); */
 width: 50rem;
 height: 3.2rem;
 display: flex;
 position: relative;
 justify-content: space-between;
 font-family: rregular;
  }
  .sub1-subsub1-sub3-subsub1-sub1-actions-div3 span {
   /* background-color: rgb(117, 205, 17); */
   width: 35rem;
   height: 4.5rem;
   font-size: 1.2rem;
   display: flex;
   margin-top: -0.5rem;
   margin-left: 0.5rem;
   line-height: 1.1rem;
   text-align: justify;
   font-family: rregular;
  }
  .subsub1-sub1-subsub1-sub3-subsub1-sub1-actions-div3 {
    width: 4rem;
    height: 2.5rem;
    /* background-color: rgb(17, 167, 205); */
    margin-right: 1rem;
    position: absolute;
    bottom: 2.4rem;
    right: 1rem;
    display: flex;
    justify-content: right;
    align-items: center;
  }
  .subsub1-sub2-subsub1-sub3-subsub1-sub1-actions-div3 :nth-child(1) {
    width: 2rem;
    height: 2rem;
  }
  .subsub1-sub2-subsub1-sub3-subsub1-sub1-actions-div3 :nth-child(2) {
    width: 2rem;
    height: 2rem;
    /* margin-left: 1rem; */
  }
  
  .subsub1-sub2-subsub1-sub3-subsub1-sub1-actions-div3 :nth-child(3) {
    width: 2rem;
    height: 1.1rem;
  }
  .sub2-subsub1-sub3-subsub1-sub1-actions-div3 {
    width: 50rem;
    height: 1.2rem;
    background-color: #D01400;
    display: flex;
    justify-content: left;
    /* align-items:end; */
  }
  .sub2-subsub1-sub3-subsub1-sub1-actions-div3 span {
    width: 14rem;
    font-size: 1.2rem;
    padding-left: 1.8rem;
    color: white;
    margin-bottom: 1rem;
  }
  .subsub2-sub3-subsub1-sub1-actions-div3 {
    background-color: white;
    width: 50rem;
    height: 29.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }
  .sub1-subsub2-sub3-subsub1-sub1-actions-div3 {
    /* width: 30%; */
    /* background-color: pink; */
    padding-top: 1rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .subsub1-sub1-subsub2-sub3-subsub1-sub1-actions-div3{
  width: 29.1rem;
  height: 3.3rem;
  border: .1rem solid #005EEC;
  border-radius: .5rem;
  display: flex;
  flex-direction: column;
  line-height: 1.3rem;
  position: relative;
  margin-bottom: .5rem;
  }
  .subsub1-sub1-subsub2-sub3-subsub1-sub1-actions-div3 :nth-child(1){
  width: 100%;
  height: 30%;
  font-size: 1.2rem;
  padding-left: 1rem;
  color: #898A8D;
  font-family: rregular;
  }
  .subsub1-sub1-subsub2-sub3-subsub1-sub1-actions-div3 :nth-child(2){
  width: 85%;
  height: 70%;
  border: 0;
  outline: none;
  font-size: 1.2rem;
  padding-left: 1.5rem;
  font-family: rregular;
  border-radius: .5rem;
  }
  .subsub1-sub1-subsub2-sub3-subsub1-sub1-actions-div3 :nth-child(3){
    position: absolute;
    font-size: .8rem;
    font-family: rregular;
    right: 1rem;
    top: 1rem;
  }
  
  
  
  
  .subsub2-sub1-subsub2-sub3-subsub1-sub1-actions-div3{
    width: 29.1rem;
    height: 3.3rem;
    border: .1rem solid #898A8D;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    line-height: 1.3rem;
    position: relative;
    margin-bottom: .5rem;
  
    }
    .subsub2-sub1-subsub2-sub3-subsub1-sub1-actions-div3 :nth-child(1){
    width: 100%;
    height: 30%;
    font-size: 1.2rem;
    padding-left: 1rem;
    color: #898A8D;
    font-family: rregular;
    }
    .subsub2-sub1-subsub2-sub3-subsub1-sub1-actions-div3 :nth-child(2){
    width: 85%;
    height: 70%;
    border: 0;
    outline: none;
    font-size: 1.2rem;
    padding-left: 1.5rem;
    font-family: rregular;
    border-radius: .5rem;
    }
  
  
  
  
  
  
  
  
    .subsub3-sub1-subsub2-sub3-subsub1-sub1-actions-div3{
      width: 29.1rem;
      height: 3.3rem;
      border: .1rem solid #898A8D;
      border-radius: .5rem;
      display: flex;
      flex-direction: column;
      line-height: 1.3rem;
      position: relative;
      }
      .subsub3-sub1-subsub2-sub3-subsub1-sub1-actions-div3 :nth-child(1){
      width: 100%;
      height: 30%;
      font-size: 1.2rem;
      padding-left: 1rem;
      color: #898A8D;
      font-family: rregular;
      }
      .subsub3-sub1-subsub2-sub3-subsub1-sub1-actions-div3 :nth-child(2){
      width: 85%;
      height: 70%;
      border: 0;
      outline: none;
      font-size: 1.2rem;
      padding-left: 1.5rem;
      font-family: rregular;
      border-radius: .5rem;
      }
  /* //////////////////////////////////// */
  /* ///////////////////////////// */
  
  /* mid */
  
  /* //////////////////////////////////// */
  /* ///////////////////////////// */
  
  /* right */
  /* ////////////////////////////// */
 
  
  
  /* //////////////////////////////////// */
  