@font-face{
  font-family: rbold;
  src:url('../../../public/font/Roboto-Bold.ttf')
}
@font-face{
  font-family: rregular;
  src:url('../../../public/font/Roboto-Regular.ttf')
}
@font-face{
  font-family: rmedium;
  src:url('../../../public/font/Roboto-Medium.ttf')
}
.history{
  width: 191.9rem  ;
  height: 92.9rem;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 4fr;
    }
    .history-left{
  /* background-color: blue; */
  grid-row: 1/2;
  grid-column: 1/2;
    }
    .history-right{
      /* background-color: blueviolet; */
      grid-row: 1/2;
      grid-column: 2/3;
      border-left: .1rem solid rgb(0,0,0,20%);
      border-top: .1rem solid rgb(0,0,0,20%);
      border-top-left-radius: 5rem;
    } 
    .history-nav{
      grid-area: nav;
       /* background-color: rgb(0, 187, 255);  */
       width: 100%;
       height: 12.4rem;
    }
    .history-main{
      grid-area: main; 
       width: 100%;
      height: 80.5rem;
      /* background-color: olive; */
      background-color: #F7F8FC;

    } 
    .history-contaner{
      width: 100%;
      height: 100%;
      /* background-color: chartreuse; */
    }
 .histroy-div1{
       width: 100%;
      height: 12%;
      /* background-color: rgb(214, 223, 204); */
      display: flex;
      justify-content: center;
      align-items: center;
 }
.sub1-histroy-div1{
    width: 158.9rem;
    height: 7.3rem;
    border: .1rem solid #DFE0EB;
    border-radius: 2rem;
    background-color: white;
    display: flex;
}
.left-sub1-histroy-div1{
    width: 80%;
    height: 100%;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: space-between;
}
.sub1-left-sub1-histroy-div1{
    display: flex;
    /* background-color: bisque; */
    /* margin-left: 2rem; */
    margin-top: 1rem;
}
.history-search-icon{
    width: 1.5rem;
    height: 1.5rem;
}

.sub1-left-sub1-histroy-div1 :nth-child(2){
width: 16.2rem;
height: 1.9rem;
color:#F22222;
font-family: rmedium;
font-size: 1.6rem;
/* background-color: black; */
}
/* //////////////////////////// */
.sub2-left-sub1-histroy-div1{
    display: flex;
    margin-top: 1rem;

    /* background-color: rgb(193, 158, 115); */
}
.sub2-left-sub1-histroy-div1 :nth-child(1){
    width: 10rem;
height: 1.9rem;
color:#F22222;
font-family: rmedium;
font-size: 1.6rem;
text-decoration: underline;
/* background-color: black; */
}

.history-car-icon{
    width: 5.5rem;
    height: 2.1rem;
}


.sub3-left-sub1-histroy-div1{
  /* background-color: aqua; */
  /* width: 25rem; */
}



.subsub1-sub3-left-sub1-histroy-div1{
width: 70rem;
height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: rgb(123, 123, 12); */
}



.sub1-subsub1-sub3-left-sub1-histroy-div1{
    width: 31.5rem;
    height: 4.8rem;
    /* background-color: pink; */
}
.sub1-subsub1-sub3-left-sub1-histroy-div1 :nth-child(1){
    font-size: 1.6rem;
    color: #7A7D8B;
    font-family: rmedium;
    margin-top: -1rem;
}
.sub1-subsub1-sub3-left-sub1-histroy-div1 :nth-child(2){
    font-family: rregular;
    width: 31.5rem;
    height: 2.8rem;
    border: .1rem solid #DFE0EB;
    outline: none;
    border-radius: .5rem;
    font-size: 1.6rem;
padding-left: 1rem;
}
.react-datepicker__input-container input{
  border: .1rem solid #DFE0EB;
}
.Hstart{
  width: 31.5rem;
  height: 2.8rem;
  font-size: 1.7rem;
 margin-left: -5rem;
 margin-top: -1rem;
 cursor: pointer;
} 
.HstartP{
  /* width: 5rem; */
  font-size: 2rem;
  margin-left: -5rem;
  margin-top: -1rem;
  /* background-color: #ad0606; */
}
.HendP{
  /* width: 5rem; */
  font-size: 2rem;
  margin-top: -1.8rem;

  /* margin-left: -5rem; */
  /* background-color: #ad0606; */
}
.Hend{
  width: 31.5rem;
  height: 2.8rem;
  font-size: 1.7rem;
  margin-right: 8rem;
 /* background-color: #F22222; */
 margin-top: -1rem;
 cursor: pointer;

} 
 .Hstart :nth-child(1){
  width: 40rem;
  background-color: white;
  color: black;
  border-color: #DFE0EB;
  border-width: .1rem;
  border-radius: 0.5rem;
  outline: none;
  font-family: rregular;
  text-align: center;
}
.Hend {
  width: 22rem;
  height: 2.3rem;
  font-size: 1.7rem;
} 
.react-datepicker__current-month{
  margin-left: 15rem;
}
.react-datepicker__navigation-icon--next::before{
  width: 1.5rem;
}
.react-datepicker-time__input-container{
  margin-left: 9rem;
}
.Hend :nth-child(1){
  width: 40rem;
  background-color: white;
  color: black;
  border-color: #DFE0EB;
  border-width: .1rem;
  border-radius: 0.5rem;
  outline: none;
  font-family: rregular;
  text-align: center;
}


.rasta-stripes{
  width: 38rem;
  height: auto;
/* padding-left: 2rem; */
font-size: 2rem;
border: 1rem solid grey;
}
.rasta-stripes :nth-child(1){
  width: 5rem;
  font-size: 2rem;
/* margin-right: .5rem; */
text-align: center;
/* background-color: #ad0606; */


}
.rasta-stripes :nth-child(2){
  width: 5rem;
  font-size: 2rem;

}
.rasta-stripes :nth-child(3){
  width: 5rem;
  font-size: 2rem;

}
.rasta-stripes :nth-child(4){
  width: 5rem;
  font-size: 2rem;

}
.rasta-stripes :nth-child(5){
  width: 5rem;
  font-size: 2rem;

}
.rasta-stripes :nth-child(6){
  width: 5rem;
  font-size: 2rem;

}
.rasta-stripes :nth-child(7){
  width: 5rem;
  font-size: 2rem;

}



.sub2-subsub1-sub3-left-sub1-histroy-div1{
    width: 31.5rem;
    height: 4.8rem;
    /* background-color: rgb(221, 139, 153); */
}



.sub2-subsub1-sub3-left-sub1-histroy-div1 :nth-child(1){
    font-size: 1.6rem;
    color: #7A7D8B;
    font-family: rmedium;
    margin-top: -1rem;
}
.sub2-subsub1-sub3-left-sub1-histroy-div1 :nth-child(2){
    font-family: rregular;
    width: 31.5rem;
    height: 2.8rem;
    border: .1rem solid #DFE0EB;
    outline: none;
    border-radius: .5rem;
font-size: 1.6rem;
padding-left: 1rem;
}



.right-sub1-histroy-div1{
    width: 20%;
    height: 100%;
    /* background-color: rgb(106, 163, 144);  */
    display: flex;
    justify-content: end;
    align-items: center;
      
}


.sub1-right-sub1-histroy-div1 {
    width: 12.5rem;
    height: 4rem;
    background-color: #ad0606;
    border-radius: 4rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 2rem;
  }
  .sub1-right-sub1-histroy-div1 img {
    width: 1.5rem;
    height: 1.5rem;
  }
  .sub1-right-sub1-histroy-div1 button {
    font-size: 1.6rem;
    border: 0rem;
    background-color: #ad0606;
    color: white;
  }












   .histroy-div2{
       width: 100%;
      height: 88%;
      background-color: rgb(204, 214, 223);
 }
 .history-map{
    width: 100%;
   height: 100%;
   /* background-color: rgb(214, 223, 204); */
}
  
  
  
  
/*   
  
      @media(max-width:1255px){
      html{
        font-size: 55%;
      }
     
  
    }
    @media(max-width:1240px){
      html{
        font-size: 50%;
      }
    }
    
    @media(max-width:1080px){
        html{
          font-size: 45%;
        }
      }
      @media(max-width:998px){
        html{
          font-size: 40%;
        }
      }
         */