.ticket-id-main {
    font-size: 1.6rem;
}

.ticket-id-main p {
    font-size: 2rem;
    padding-left: 5rem;
    padding-top: 2.5rem;
    color:#D01400;
    font-family: rregular;
}

.ticket-id-div1 {
    width: 70%;
    border: .1rem solid #DFE0EB;
    border-radius: 2rem;
}

.sub1-subsub1-sub1-ticket-id-div1 :nth-child(1) {
    font-family: rmedium;
    color: #7A7D8B;
}

.sub1-subsub1-sub1-ticket-id-div1 :nth-child(2) {
    width: 45rem;
    height: 4.3rem;
    border-radius: 1rem;
    border: .1rem solid #DFE0EB;
    font-size: 2rem;
    padding-left: 1rem;
    outline: none;
    font-family: rregular;
    background-color: rgb(137,138,141,18%);
}

.sub2-subsub1-sub1-ticket-id-div1 :nth-child(1) {
    font-family: rmedium;
    color: #7A7D8B;
}

.sub2-subsub1-sub1-ticket-id-div1 :nth-child(2) {
    height: 9.2rem;
    border-radius: 1rem;
    border: .1rem solid #DFE0EB;
    font-size: 2rem;
    padding-top: 1rem;
    padding-left: 1.5rem;
    outline: none;
    font-family: rregular;
    background-color: rgb(137,138,141,18%);
}

.sub1-left-subsub2-sub1-ticket-id-div1 {
    background-color: #D9D9D9;
    width: 27.1rem;
    height: 2.5rem;
    border-radius: .5rem;
}

.card-p {
    font-family: rmedium;
    color: #7A7D8B;
}

.sub1-subsub3-sub1-ticket-id-div1 label {
    font-family: rmedium;
    color: #7A7D8B;
}

.sub1-subsub3-sub1-ticket-id-div1 textarea {
    height: 10rem;
    border-radius: 1rem;
    border: .1rem solid #DFE0EB;
    font-size: 2rem;
    padding-top: 1rem;
    padding-left: 1.5rem;
    outline: none;
    font-family: rregular;
} 

.sub1-left-subsub4-sub1-ticket-id-div1 {
    background-color: #D9D9D9;
    width: 27.1rem;
    height: 2.5rem;
    border-radius: .5rem;
}

.sub1-left-subsub4-sub1-ticket-id-div1 img {
    right: 1rem;
    top: .8rem;
    width: 1rem;
    height: 1rem;
}

.sub1-right-subsub4-sub1-ticket-id-div1 input {
    opacity: 0;
    width: 5rem;
    height: 5rem;
    top: 0rem;
    left: 2.1rem;
    border: .1rem solid black;
}

.right-subsub4-sub1-ticket-id-div1 img {
    width: 5rem;
    height: 5rem;
}

@media(max-width:768px) {
    .ticket-id-main {
      padding: 2rem 1rem;
    }
  
    .ticket-id-main p {
      text-align: center;
      padding-left: 0;
    }
  
    .ticket-id-div1 {
      margin: 2rem 0 2rem 0 !important;
      width: 100%;
    }
  
    .sub1-subsub1-sub1-ticket-id-div1 :nth-child(2) {
      width: 100%;
    }
  
    .ticket-id-main .tab-button {
      width: 14rem;
      padding-top: 0.7rem;
      padding-bottom: 0.7rem;
    }
  }
  